{% extends "base.html" %}
{% block css %}
	<link rel="stylesheet" href="/{{static}}nicepage.css" media="screen">
    <link rel="stylesheet" href="/{{static}}index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/{{static}}jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/{{static}}nicepage.js" defer=""></script>
{% endblock %}
{% block header %}
	{% include "inc_header.html" %}
{% endblock %}
{% block content %}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-width="1920"
         data-image-height="1080" id="sec-4aa3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-text u-text-1" style="padding-left: 20px">Admin - panel</h2>
        <h3 class="u-align-left u-text u-text-2" style="padding-left: 20px"><a href="/Admin/CategoryList.html">Категории товаров</a></h3>
        <h3 class="u-align-left u-text u-text-2" style="padding-left: 20px"><a href="/Admin/GoodsList.html">Список товаров</a></h3>
    </div>
</section>
{% endblock %}

{% block footer %}
	{% include "inc_footer.html" %}
{% endblock %}
